*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Navbar Principal    ////*/

.contenedor-navbarprincipal{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
 
  

}

.logoPrincipal {
  font-size: 3rem;
}

.contenedor-navbarprincipal , .container ul{
  display: flex;
  font-size: 1.2rem;
  
  gap: 20px;
}

.img{
  width: 200px;
  height: 150px;
  translate: 10px -50px;
  transition: 500ms;
  
}

/* img:hover{
  scale: 1.3;
  cursor: pointer;
  translate: 0px -80px;
} */
  

/* Navbar secundario    ///// */

.nav{

  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: var(--principal);
  height: 60px;
  box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.5);
}

.ContainerLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.links{
  display: flex;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  width: 100%;

}

.btn-links{
  color:white;
  transition: 500ms;
  font-weight: 700;
  
}

.btn-links:hover{
  
  color: var(--cuarto);
  letter-spacing: 1px;
  

  
}

a{
  text-decoration: none;
  color: blanchedalmond;
  transition: 0.5ms;
  color: var(--cuarto);
}


/* Header principal ////// */


.contenedorHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1500px;
  padding: 20px;
  gap: 30px;
}

.imagenHeader{

  width: 600px;
  height: 400px;
}

.focus{
  width: 100%;
  height: 100%;
}

.textoHeader{

  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.textoHeader h1 {
  font-size: 2.4rem;
  margin-right: 100px;
}

.textoHeader p {
  font-size: 1.8rem;
  font-weight: 100;
  color:var(--cuarto);
}

.btnHeaderCompra{
  padding: 15px 60px ;
  background-color: var(--principal);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 1px var(--principal);
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 30px;
  color: var(--cuarto);
  transition: 200ms all ease-in-out ;
}

.btnHeaderCompra:hover{
  background-color: hsla(217, 92%, 15%, 0.986);
  box-shadow: 1px 5px 10px 1px hsla(217, 89%, 15%, 0.726);
 
  color: hsl(218, 55%, 69%);
}

.btnHeaderVenta{
  background-color: none;
  border:none;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--principal);
  position: relative;
  margin-top: 20px;
  transition: 200ms all ease-in-out ;
  width: 250px;
 
}

.btnHeaderVenta:hover{
  color: var(--cuarto);
  margin-left: 10px;
 
}


.btnHeaderVenta span{

  font-size: 2.5rem;
  top: 20px;
  position: absolute;
  top: -12px;
  left:  260px;

 
}

.SubtituloHeader{
  margin: 80px auto;
  text-align: center;
  font-size: 3rem;
}

/*  Contenedor y Tarjetas de venta /// */

h2{
  margin-bottom: 100px;
  font-size: 2.3rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
}

.ContenedorTarjetas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 10px auto;
 
}

.Tarjetas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 90px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
}


.contenedorCard{
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  box-shadow: 1px 1px 6px 4px  hsla(217, 71%, 19%, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  
}

.contenedorCard:hover{
  .img{
    scale: 1.1;
    cursor: pointer;
    translate: 10px -80px;
  }
  box-shadow: 1px 1px 6px 4px  hsla(217, 71%, 19%, 0.986) ;
  scale: 1.009;
}

.cardTexto{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -40px;
  background-color: var(--principal);
  border-radius: 0 0 10px 10px;
  color:white;
  width: 220px;
  padding: 15px 0;
  font-weight: 400;
}

.fechas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: white;
  font-weight: 100;
  
}


.link{
  text-decoration: none;
  color: black;
  
}

/* Pagina de detalle ////// */

.contenedorPrincipalDetalle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--tercero);
  height: 100vh;
}

.contenedorDetalle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin: 70px auto;
    margin-top: -40px;
}

.textoDetalle{
  
  width: 600px;
  margin:20px auto;
  font-weight: 100;
  color: white;
}

.textoDetalle h3{
  color: black;
  margin: 10px 0;

}
.textoDetalle p {
  font-size: 1.2rem;
  margin: 15px 0;

}
.fechas-detalle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 100;
  margin: 10px auto;
  height: 20px;
}

.textoDetalle h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;

}



.img-detalle{
  width: 400px ;
  height: 350px;
}

.img-detalle:hover{
  scale: none;
}


.botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
    
 
}

.btn-siguientes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn:hover{
  background-color: rgb(99, 98, 98);
}

.btn{
  padding: 8px 25px;
  background-color: gray;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}

.container-btn-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-carrito{
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-left: 45px;

}



/* Edicion de Carrete */

.contenedor-carrete{

  
  max-width: 1500px ;
  margin: 20px auto;
  
  height: 200px;
  overflow: hidden;
}

.botones-carrete{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 10;
  
}

.botones-carrete :first-child{
  border-radius: 10px 0 0 10px;
}

.botones-carrete :last-child{
  border-radius: 0 10px 10px 0;
  
}


.botones-carrete button{
  height: 100%;
  width: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &:hover{
    background-color:rgba(0, 0, 0, 0.6 );
    color: rgba(255, 255, 255, 0.6);
  }

  color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;

  
}

.card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;
  width: 1300px;
  overflow: hidden;
  margin: 30px auto;
  cursor: pointer;
  
}


.card2{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}




.tarjeta-Carrete {
  
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  box-shadow: 1px 1px 6px 4px  hsla(217, 71%, 19%, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 370px;
  
  
}
.contenedor-imagen-carrete{
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0 ;
}
.imagen-carrete{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0 ;
}

.texto-carrete{
  margin: 5px auto;
  text-align: center;
  height: 150px;
  padding: 15px;
  font-size: 1.2rem;
  
}

.texto-carrete h3{
  margin: 2px auto;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.btnSlider{
  margin: 60px auto;
  display: flex;
}


/* Venta de Autos //// */

.contenedorGralAside{
  background-color: var(--tercero);
  width: 100vw;
  padding: 20px 0;
  margin-bottom: 80px;
}

.contenedorAside{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1500px;
  margin: 20px auto;
  gap: 80px;
  
}

.textoAside{
  text-align: start;
  width: 50%;
  padding: 20px;
}

hr{
  width: 80%;
  margin: 20px 0;
}
.textoAside p{
  margin-bottom: 10px;
  font-size: 1.6rem;
  margin-right: 100px;
}

.textoAside h2{
  font-size: 2.7rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.imagenAside{
  width: 50%;
}

.imagenAside img{
  width: 100%;
  margin-left: 50px;
  border-radius: 4px;
}


/* Contacto Principal ///////*/

.contenedorContactoPrincipalGral{
  width: 100vw;
  background-color: white;
  padding: 30px 0;
  margin: 20px 0;
}

.contenedorContactoPrincipal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 20px auto;
  gap: 140px;
}

.textoContactoPrincipal{

  width: 60%;
  margin-left: 100px;
  margin-top: 50px;
}

.textoContactoPrincipal h2{

  color: var(--principal);
  font-size: 3rem;
  margin-bottom: 40px;
}

.textoContactoPrincipal p{
  font-size: 1.4rem;
  margin-right: 240px;
}


/* Sedes Principal ////// */

.tituloSedesPrincipal{
  text-align: center;
  margin-top: 50px;
}
.TarjetasSedes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 60vw;
  max-width: 1500px;
  
  margin: 40px auto;

}
.contenedorSedes{
 
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  box-shadow: 1px 1px 6px 4px  hsla(217, 71%, 19%, 0.616);
  display: flex;
  flex-direction: column;
  
  align-items:flex-start;
  
  
  width: 300px;
  height: 380px
  
}

.contenedorSedes h3{
  text-align: left;
}

.imagenSede{
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.botonContenedorSedes{
 padding: 10px 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 20px;
 height: 180px;
 
 
}

.titulosSedes p{
  font-size: 0.8rem;
  margin-top: 10px;
}



.textoSedes{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  padding-bottom: 10px;
}

.btnSedes button{
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  background-color: var(--principal);
  color:white;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 90ms all ease-in-out;

  &:hover{
    color: aliceblue;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.411);
  }
  
}

.textoSedesInventario p {
  font-size: 0.8rem;
}


/* Footer ///////////////*/


.ContenedorFooter{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
}

.ContenedorFooterLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  
  max-width: 1500px;
  width: 100%;
  padding: 30px;
}

.FooterListaLinks{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.uno{
  grid-column: 1;
  grid-row: 1/4;

}

.dos{
  grid-column: 2;
  grid-row: 1/1;

}
.tres{
  grid-column: 2;
  grid-row: 2/2;

}

.cuatro{
  grid-column: 2;
  grid-row: 3/3;

}

.seis{
  grid-column: 3;
  grid-row: 3/3;

}


.FooterRedes{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1500px;
  color: white;
  font-size: 40px;
  gap: 30px;
  
}

.FooterRedes :only-child{
  cursor: pointer;
}

.FooterCopy{
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  width: 100%;
  max-width: 1500px;
  color: white;
  margin: 20px 0;
}


.footercuit{
  text-align: start;
  width: 100%;
  max-width: 1500px;
  color: white;
}

.footerley{
  color: white;
  width: 100%;
  max-width: 1500px;
  text-align: center;
  margin: 20px 0;
}

.footerlogos{
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  height: 70px;
  gap: 20px;
  margin: 20px 0;
}


.footerlogos img{
  width: 60px;
  height: 100%;
  cursor: pointer;
}

.footerlogos :first-child{
  width: 140px;
}

.footerlogos :last-child{
  width: 140px;
}

.footerAyuda{

  color: white;
  background-color: blue;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  bottom: 15px;
  right: 15px;
  
  transition: 325ms all ease-in-out;
  &:hover{
    background-color: white;
    color: black;
  }
}

.footerAyuda :first-child{
  cursor: pointer; 
}

.AyudaPreguntas{
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  background-color: white;
  color: black;
  bottom: -3px;
  right: -1px;
  z-index: 0;
  transition: 366225ms all ease-in-out;
  
}

.AyudaPreguntas :only-child{
  cursor: pointer; 
  color: black;
}

.ver{
  display: flex;
  
}

.cerrar{

  font-size: 1.4rem;
  margin-left: 130px;
  padding-bottom: 12px;
  color: white;
  
  
  
}

.cerrado{
  display: none;
  
}


/*------ Pagina Vender --------*/
/* Header-Ventas ------- */

.contenedorHeaderVentas{
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.textoVentas{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  height: 300px;
}

.textoVentas h1 {
  margin-bottom: -30px;
  font-size: 2.8rem;
  margin-right: 300px;

}

.textoVentas p {
  color: var(--cuarto);
}
.textoVentas button{
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  color:  #a5c9c3;;
  background-color: var(--principal);
  box-shadow: 0 0 19px  #84a7a157;
  cursor: pointer;
  &:hover{
    box-shadow:0 0 19px  #84a7a1a8; 
    color: #d4e7e4;
  }
}

.imagenVentas{
  width: 100%;
  max-width: 700px;
  height: 500px;
}

.imagenVentas img{
  width: 100%;
  height: 100%;
}

/* ----- Aside ventas -------*/

.contenedorAsideVentas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  width: 100%;
  max-width: 1500px;

}

.contenedorAsideVentas h2{
  text-align: center;
  margin: 10px 470px;
}

.cardVentas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  margin-top: 50px;
}

.iconos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 250px;
}

.iconos svg{
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.iconos h4{

  color: white;
}

.iconos p {
  color: var(--cuarto);
}


/* ------- Compramos Tu auto ------ */

.contenedorCompramosAuto{
  width: 100%;
  height: 360px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cuarto);
  gap: 50px;
  margin-bottom: 40px;
}

.textoCompramosAuto{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
}

.textoCompramosAuto h3{
  font-size: 1.9rem;
}

.textoCompramosAuto p{
  color: white;
  margin-top: -10px;
  margin-bottom: 20px;
}

.textoCompramosAuto button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  color:  #a5c9c3;;
  background-color: var(--tercero);
  box-shadow: 0 0 19px  #37c7af57;
  cursor: pointer;
  &:hover{
    box-shadow:0 0 9px  #1c3bc752; 
    color: #d4e7e4;
  }

}

.ofertas{
  display: grid;
  grid-template-columns: 300px 300px;
  
  gap: 30px;
  margin: 30px;
}

.ofertas p{
  grid-column: 1/4;
}

.ofertaInmediata, .ofertaIntercambio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
}

.ofertas h4{
  margin: 10px 0;
}


/* ----- Testimonios Ventas ----- */


 .ContenedorTestimonioGral{
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 40px;

}

.contenedorTestimonios{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.testimonio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 330px;
  text-align: start;
  padding: 25px 20px 40px 20px;
  gap: 12px;
  border-radius: 20px;

  box-shadow: 1px 1px 5px 1px var(--principal);
}

.nombreTestimonio{
  font-size: 1.6rem;
  color: black;
}

.autoTestimonio{
  font-size: 0.8rem;
  color: var(--cuarto);
}

.estrellas{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.estrella{
  color: yellow;
  font-size: 1.1rem
}

.textoTestimonio{
  font-size: 1.1rem;

}



/*- ------  Preguntas Frecuentes ---------*/


.ContenedorPF h2{
  text-align: center;

}

.preguntasContenedor{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px auto;

}

.pregunta{
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
hr{
  width: 100%;
}

.txtPregunta{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.3rem;
}

.respuesta{
  font-size: 1rem;
  margin-right: 20px;
  display: none;
}

.flechas{
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.visible{
  display: flex;
}

.noVisible{
  display: none;
}


/* ------ Sucursales ------------*/

.ContenedorHeaderSucursales{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;  
  margin: 60px auto;
  gap: 100px;
  margin-bottom: 100px;
}

.titulosSucursales{
  width: 30%;
  height: 100px;
  
}

.titulosSucursales h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.titulosSucursales p {
  font-size: 1.5rem;
}

.imagenSucursales{
  width: 700px;
  height: 500px;
}

.imagenSucursales img {
  width: 100%;
  height: 100%;
}


/* -------- Service -----------*/

.ContenedorHeaderService{

  width: 100%;
  height: 600px;
  background-image: url(../src/img/Otras/Service/Principal.jpg);
  background-position:left;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  align-items: center;

}

.TextoHeaderService{
  text-align: left;
  width: 800px;
  max-width: 1500px;
  margin-left:300px; 
  margin-top: 190px;

}

.TextoHeaderService h2{
  font-size: 2.5rem;
  margin-top: -100px;
  margin-bottom: 40px;
  margin-right: 230px;
}

.TextoHeaderService p {
  color: white;
  font-size: 1.5rem;
  margin: 20px 0;
  margin-right: 230px;
  
}

.TextoHeaderService span{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: italic;
}

.TextoHeaderService button{
  border: none;
  background-color: var(--secundario);
  color: var(--cuarto);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    background-color: var(--secundario);
    color: white;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.5);
  }
}



/* ------- Service Especialistas -------*/


.ContenedorEspecialistasGral{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-width: 1700px;
  height: 500px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: var(--cuarto);

}

.imagenEspecialista{
  width: 420px;
  margin-left: -50px;
}
.imagenEspecialista img{
  width: 100%;
}

.textoEspecialista{
  width: 60%;
  margin-top: 30px;

}

.textoEspecialista h2{
  text-align: left;
  margin-right: 20px;
}

.ContenedorEspecialistas{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: -60px;
}

.ContenedorIconosEspecialista{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.iconoEspecialista{
  padding: 18px;
  padding-top: 22px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 2.3rem;
  text-align: center;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  color: var(--principal);
}

.textoIconoEspecialista{
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}


/*-------Tabla Service------*/


.ContenedorTabla{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 60px auto;
  
}


.NavTabla h2{
  margin-bottom: 20px;
  text-align: left;
  color: black;
}
.Servicio{
  text-align: center;
  width: 600px;
  position: sticky;
  top: 0;
  display: table-cell;
  background-color: white;
  
 
}

.NavTabla tr{
  display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.NavTabla tr th p{
  text-align: left;
} 

.NavTabla{
  padding: 20px 10px 100px ;
  border-spacing: 0;
}



.service{
  vertical-align: top;
}

.plata, .oro p{
  font-size: 1.4rem;
}



.tabla tr th{

  width: 1500px;
  padding: 20px;
  text-align: left;
}

.TablaCuerpo tr th{
  text-align: center;
}
.TablaCuerpo tr :first-child{
  text-align: left;
}

.TablaCuerpo{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.Servicio button{
  
  cursor: pointer;
  font-size: 1.2rem;
  padding: 12px 65px 12PX 65PX;
  border: none;
  border-radius: 10px;
  background-color: var(--principal);
  color: var(--cuarto);
  box-shadow:1px 1px 10px 1px  rgba(0, 0, 0, 0.5);
  &:hover{
    color: white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.9);
  }

}