body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--secundario);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

:root{
  --principal:hsl(217, 71%, 19%);
  --secundario: #1f458c;
  --tercero: #1a456e ;
  --cuarto: #84A7A1;
}